{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="col-sm-4">
            <form action="/search" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Search
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="from">From / To</label>
                            <div class="input-group">
                                <input type="text" name="from_airport" value="{{ from_airport }}" class="form-control" />
                                <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></div>
                                <input type="text" name="to_airport" value="{{ to_airport }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dep_date">On date</label>
                            <div class="input-group">
                                <input type="text" name="dep_date_month" value="{{ dep_date.month }}" class="form-control"
                                        placeholder="MM"/>
                                <div class="input-group-addon">/</div>
                                <input type="text" name="dep_date_day" value="{{ dep_date.day }}" class="form-control"
                                        placeholder="DD"/>
                                <div class="input-group-addon">/</div>
                                <input type="text" name="dep_date_year" value="{{ dep_date.year }}" class="form-control"
                                        placeholder="YYYY"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="airline">On airline</label>
                            <input type="text" name="airline" value="{{ airline }}" class="form-control" placeholder="DL" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="list-group">
                    {% for flight in flights %}
                    <div class="list-group-item">
                        <a class="btn btn-primary pull-right" href="/select/{{ flight[0] }}/1">Select this flight --></a>
                        <h2>{{ flight[6] }}{{ flight[1] }}</h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}