{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" integrity="sha384-CuqHLZbw4yxoE4YzgqWDF9Xrv8YfD8Y20i+/gwL3e1+fYEj0wjLBmkCotf113/g/" crossorigin="anonymous">

    <style>
        .flight-item {
            padding: 12px 15px;
        }

        .flight-item h2 {
            margin-top: 0.15em;
            margin-bottom: 0.15em;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" integrity="sha384-w48xMCwgWQu0zb3PvQI/rK5lfN6G+lSWu+qI4ukKZg3I5Xx3/VWA8IiaQ8O7tZur" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('.form-date')
                .datepicker({
                    maxViewMode: 2, // years
                    todayBtn: "linked",
                    todayHighlight: true,
                    autoclose: true
                })
                .datepicker('setDate', new Date());
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-sm-4">
            <form action="/search" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Search
                    </div>
                    <div class="panel-body">
			 {% if error %}
                   	 <div class="alert alert-danger text-center">
                       	 	<strong>{{ error }}</strong>
                    	</div>
                    	{% endif %}
                        <div class="form-group">
                            <label for="from">From / To</label>
                            <div class="input-group">
                                <input type="text" name="from_airport" value="{{ from_airport }}" class="form-control" />
                                <div class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></div>
                                <input type="text" name="to_airport" value="{{ to_airport }}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dep_date">On date</label>
                            <input type="text" name="dep_date" class="form-date form-control">
                        </div>
                        <div class="form-group">
                            <label for="airline">On airline</label>
                            <input type="text" name="airline" value="{{ airline }}" class="form-control" placeholder="DL" />
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="list-group">
                    {% if flights %}
                        {% for flight in flights %}
                            <div class="flight-item list-group-item">
                                <a class="btn btn-primary pull-right" href="/select/{{ flight.id }}/1">Select this flight <i class="glyphicon glyphicon-arrow-right"></i></a>
                                <h2>{{ flight.airline }}{{ flight.number }}</h2>
                                {{ flight.departure_time.strftime('%I:%M %p') }}
                                <i class="glyphicon glyphicon-arrow-right"></i>
                                {{ flight.arrival_time.strftime('%I:%M %p') }}
                            </div>
                        {% endfor %}

                    {% else %}
                        <div class="list-group-item">
                            Your search didn't match any available flights.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}